<h1>Listing pets</h1>
 
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
  </tr>
 
  <% @pets.each do |pet| %>
    <tr>
      <td><%= pet.name %></td>
      <td><%= pet.kind %></td>
      <td><%= pet.description %></td>
      <td><%= link_to 'Show', pet_path(pet) %></td>
    </tr>
  <% end %>
</table>
